@-webkit-keyframes vibe {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  75% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

@keyframes vibe {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  75% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

@-webkit-keyframes shape {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes shape {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.fixall {
  margin: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  text-decoration: none;
}

.fixall:hover, .fixall:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
}

body {
  position: relative;
  font-family: tajawal;
  font-weight: normal;
  background-color: #f3f3f3;
}

body::-webkit-scrollbar {
  background-color: #f3f3f3;
  width: 7px;
  height: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: #33d3ca;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #33d3ca #f3f3f3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.overflow {
  overflow: hidden !important;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-ExtraLight.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-ExtraLight.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Light.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Light.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Regular.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Regular.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Medium.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Medium.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Bold.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Bold.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-ExtraBold.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-ExtraBold.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'tajawal';
  src: url("../fonts/TAJAWAL/Tajawal-Black.woff2") format("woff2"), url("../fonts/TAJAWAL/Tajawal-Black.woff") format("woff"), url("../fonts/TAJAWAL/Tajawal-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

#site-canvas {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.show-nav #site-canvas {
  -webkit-transform: translateX(-320px);
          transform: translateX(-320px);
  -webkit-transform: translate3d(-320px, 0, 0);
          transform: translate3d(-320px, 0, 0);
}

#site-menu {
  width: 320px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -320px;
  background-color: #fff;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 40px;
}

#site-menu .nav-wraper {
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: none;
}

.nav-head {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
  position: relative;
  height: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 12px;
}

.nav-head::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(51, 211, 202, 0.75);
  content: "";
  z-index: 2;
}

.nav-head .head-bg {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.nav-head .user {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  color: #fff;
  font-size: 16px;
}

.nav-head .user-img {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 20px;
}

.nav-head .user-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-head .user-name {
  font-weight: bold;
  margin-bottom: 7px;
}

.nav-head .user-num {
  font-weight: 500;
  direction: ltr;
}

.nav-body {
  margin: 50px 15px 0;
  border-top: 1px solid #dbdbdb;
}

.nav-li {
  line-height: 35px;
  padding: 0 5px;
  border-bottom: 1px solid #dbdbdb;
}

.nav-a {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-a:hover, .nav-a:focus {
  color: #33d3ca;
}

.nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.nav-footer .social-link {
  font-size: 35px;
  color: #33d3ca;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0 7.5px;
}

.nav-footer .social-link:hover, .nav-footer .social-link:focus {
  color: #33d3ca;
}

.product-grid {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1199px) {
  .product-grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .product-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .product-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.product-aspect {
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.product {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.product .pro-info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(162, 162, 162, 0.9);
  color: #fff;
  font-size: 16px;
  padding: 5px 10px;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.product .pro-name {
  margin-bottom: 5px;
}

.product .pro-qty {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 40px;
  border-radius: 20px;
  background-color: #f3f3f3;
  width: 80%;
}

.product .pro-control {
  width: 40px;
  height: 100%;
  border-radius: 50%;
  background-color: #33d3ca;
  color: #fff;
  font-size: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.product .pro-control i {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product .pro-control.clicked i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.product .qty-input {
  background-color: transparent;
  text-align: center;
  font-size: 15px;
  color: #333;
  width: 50%;
}

.headers-cont {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 2;
  margin-bottom: 10px;
}

.mo-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mo-nav li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mo-nav a {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #a2a2a2;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.mo-nav a::after {
  position: absolute;
  left: 0;
  right: 0;
  height: 5px;
  width: 100%;
  bottom: 0;
  content: "";
  background-color: #33d3ca;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mo-nav .active a {
  color: #33d3ca;
}

.mo-nav .active a::after {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header {
  background-color: #33d3ca;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: block;
  margin: 0 auto;
  font-size: 32px;
  color: #fff;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logo:hover, .logo:focus {
  color: #fff;
}

.toggle-nav {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.toggle-nav:hover, .toggle-nav:focus {
  color: #fff;
}

.log-link {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: auto;
}

.log-link:hover, .log-link:focus {
  color: #fff;
}

.home-page-bg {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  position: relative;
}

.home-page-bg:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(148, 148, 148, 0.85);
  content: "";
}

.home-page {
  position: relative;
  z-index: 2;
  min-height: calc(100vh - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0;
}

.home-img {
  width: 120px;
  margin: 0 0 40px;
}

.home-form {
  width: 100%;
}

.home-line {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 3fr 3.2fr;
      grid-template-columns: auto 3fr 3.2fr;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 0 0 5px;
}

.home-line .line-title {
  font-size: 14px;
  color: #33d3ca;
}

.datepicker {
  direction: rtl;
  right: auto;
}

.date-cont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
}

.date-cont input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.time-cont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
}

.time-cont select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  direction: ltr;
}

.prview {
  font-size: 12px;
  font-weight: 500;
  color: #a2a2a2;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  direction: ltr;
}

.input-title {
  color: #333;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-title i {
  width: 16px;
  font-size: 14px;
}

.radio-line {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 0 0 5px;
}

.radio-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio-cont .costum-radio {
  position: relative;
  margin-left: 7px;
}

.radio-cont .costum-radio input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.radio-cont .costum-radio input:checked ~ .custom-check {
  background-color: #33d3ca;
}

.radio-cont .costum-radio input:checked ~ .custom-check::after {
  -webkit-transform: none;
          transform: none;
}

.radio-cont .custom-check {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #a2a2a2;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.radio-cont .custom-check::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f00c";
  color: #fff;
  -webkit-transform: scale(0) rotate(360deg);
          transform: scale(0) rotate(360deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.radio-cont .radio-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.radio-cont .radio-title {
  font-size: 12px;
  color: #33d3ca;
  font-weight: 500;
}

.radio-cont .radio-desc {
  font-size: 10px;
  color: #333;
}

.form-page {
  border: 1px solid #dbdbdb;
  background-color: #fff;
  padding: 25px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  margin-top: 25px;
}

.form-page form {
  width: 100%;
}

.form-page .form-img {
  margin-bottom: 30px;
}

.form-page .welcome {
  text-align: center;
  color: #333;
  font-size: 14px;
  margin-bottom: 25px;
}

.form-page .welcome span {
  font-weight: bold;
}

.input-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
}

.input-cont span {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  padding: 0 15px;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  color: #333;
  font-weight: 500;
  border-radius: 10px 0 0 10px;
}

.log-input {
  height: 50px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  padding: 0 15px;
  border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 15px;
  color: #333;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.log-input::-webkit-input-placeholder {
  color: #a2a2a2;
}

.log-input:-ms-input-placeholder {
  color: #a2a2a2;
}

.log-input::-ms-input-placeholder {
  color: #a2a2a2;
}

.log-input::placeholder {
  color: #a2a2a2;
}

.log-input:focus {
  border-color: #33d3ca;
}

.log-input.confirm-input {
  text-align: center;
}

.form-sub {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #33d3ca;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #33d3ca;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-sub:hover {
  background-color: #fff;
  color: #33d3ca;
}

.form-footer {
  text-align: center;
  color: #333;
  font-size: 14px;
  margin: 25px 0;
}

.form-footer a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #a2a2a2;
}

.form-footer a:hover, .form-footer a:focus {
  color: #33d3ca;
}

.address-page {
  height: calc(100vh - 50px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address-page .next {
  position: fixed;
}

.map {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

.address-desc {
  resize: none;
  height: 150px;
  background-color: #fff;
  font-size: 15px;
  color: #333;
  padding: 20px 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.address-desc::-webkit-input-placeholder {
  color: #a2a2a2;
}

.address-desc:-ms-input-placeholder {
  color: #a2a2a2;
}

.address-desc::-ms-input-placeholder {
  color: #a2a2a2;
}

.address-desc::placeholder {
  color: #a2a2a2;
}

.cart-page {
  padding-top: 25px;
}

.order-desc-table {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 15px;
}

.table-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.table-head .table-title {
  font-weight: 500;
  font-size: 16px;
  color: #33d3ca;
}

.table-head .edit {
  font-weight: 500;
  font-size: 14px;
  color: #33d3ca;
  border: 2px solid #33d3ca;
  background-color: #fff;
  height: 35px;
  border-radius: 17.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
  min-width: 120px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.table-head .edit:hover, .table-head .edit:focus {
  background-color: #33d3ca;
  color: #fff;
}

.order-table {
  width: 100%;
  color: #a2a2a2;
  font-size: 13px;
  font-weight: 500;
}

.order-table th {
  font-weight: 500;
}

.order-table td,
.order-table th {
  padding-bottom: 8px;
}

.order-table .cat-head {
  color: #333;
  font-weight: bold;
}

.order-table .total td {
  border-top: 1px solid #dbdbdb;
  padding-top: 10px;
  color: #33d3ca;
}

.order-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 30px 0;
}

.empty-text {
  font-size: 13px;
  color: #a2a2a2;
  margin-top: 8px;
}

.order-notes {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}

.order-notes .note-title {
  font-size: 14px;
  color: #33d3ca;
}

.note-area {
  width: 100%;
  height: 75px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  resize: none;
  font-size: 15px;
  color: #333;
  margin-top: 10px;
  padding: 10px 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.note-area::-webkit-input-placeholder {
  color: #a2a2a2;
}

.note-area:-ms-input-placeholder {
  color: #a2a2a2;
}

.note-area::-ms-input-placeholder {
  color: #a2a2a2;
}

.note-area::placeholder {
  color: #a2a2a2;
}

.note-area:focus {
  border-color: #33d3ca;
}

.order-desc-time {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}

.time-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.time-line:last-of-type {
  margin-top: 15px;
}

.time-line .line-title {
  font-size: 14px;
  color: #33d3ca;
}

.time-line .line-desc {
  color: #333;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time-line .line-desc i {
  width: 16px;
  font-size: 14px;
}

.time-line .line-desc span {
  direction: ltr;
}

.order-desc-address {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}

.order-desc-address .map {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 150px;
}

.order-desc-address .adress-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px;
  color: #333;
}

.order-desc-pay {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}

.order-desc-pay.cat2-desc-pay {
  position: relative;
  overflow: hidden;
  pointer-events: none;
}

.order-desc-pay.cat2-desc-pay::after {
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.pay-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pay-method:last-of-type {
  margin-top: 15px;
}

.order-desc-bill {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.order-desc-bill .table-head {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.order-desc-bill .cat2-desc-bill {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 13px;
}

.bill-summ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bill-totals {
  margin-right: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.bill-totals .bill-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 8px;
  color: #333;
}

.bill-totals .final-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 0;
  border-top: 1px solid #dbdbdb;
  color: #33d3ca;
}

.bill-totals .total-title {
  font-size: 14px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bill-totals .total-title span {
  margin: 0 3px;
  font-weight: normal;
  color: #33d3ca;
}

.bill-totals .total-num {
  font-size: 16px;
  font-weight: bold;
  width: 50px;
}

.order-desc-coupon {
  display: none;
}

.order-desc-coupon .table-head .cancel {
  font-weight: 500;
  font-size: 14px;
  color: #f00;
  border: 2px solid #f00;
  background-color: #fff;
  height: 35px;
  border-radius: 17.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
  min-width: 120px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.order-desc-coupon .table-head .cancel:hover, .order-desc-coupon .table-head .cancel:focus {
  background-color: #f00;
  color: #fff;
}

.done-msg {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 25px 40px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.msg-img {
  margin: 0 0 20px;
}

.msg-title {
  color: #33d3ca;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px;
}

.msg-msg {
  color: #333;
  font-size: 14px;
  margin: 0 0 10px;
}

.search-form {
  width: 100%;
  position: relative;
}

.search-form .search-input {
  width: 100%;
  height: 40px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  font-size: 15px;
  color: #333;
  padding: 0 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.search-form .search-input::-webkit-input-placeholder {
  color: #a2a2a2;
}

.search-form .search-input:-ms-input-placeholder {
  color: #a2a2a2;
}

.search-form .search-input::-ms-input-placeholder {
  color: #a2a2a2;
}

.search-form .search-input::placeholder {
  color: #a2a2a2;
}

.search-form .search-input:focus {
  border-color: #33d3ca;
}

.search-form .search-btn {
  font-size: 22px;
  color: #333;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

html[dir='ltr'] .search-form .search-btn {
  right: 20px;
}

html[dir='rtl'] .search-form .search-btn {
  left: 20px;
}

.search-form .search-btn:hover {
  color: #33d3ca;
}

.next {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #33d3ca;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 0;
  border: 2px solid #33d3ca;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 50px 0 0;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
}

.next:hover {
  background-color: #fff;
  color: #33d3ca;
}

.next p {
  font-size: 12px;
  font-weight: normal;
}

.mine-page {
  padding-bottom: 40px;
}

.my-orders-list {
  margin-top: 25px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
}

.order-cont {
  border-bottom: 1px solid #dbdbdb;
}

.order-cont:last-of-type {
  border-bottom: none;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.order:hover, .order:focus {
  background-color: #f8f8f8;
}

.order .right-div,
.order .left-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order .left-div {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.order .order-num {
  font-size: 13px;
  color: #333;
  margin-bottom: 20px;
}

.order .num-title,
.order .state-title {
  margin-bottom: 3px;
}

.order .num-num {
  font-weight: 500;
}

.order .order-state {
  font-size: 14px;
  color: #333;
}

.order .state-state {
  font-weight: 500;
  font-size: 15px;
  color: #33d3ca;
}

.order .state-state.canceld {
  color: #f00;
}

.order .order-total {
  font-size: 14px;
  color: #33d3ca;
  font-weight: bold;
}

.order .order-desc {
  font-size: 14px;
  color: #33d3ca;
}

.order .dates {
  color: #a2a2a2;
  font-size: 14px;
}

.order .dates .date {
  margin-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order .dates .date:last-of-type {
  margin-bottom: 0;
}

.order .dates .date .date-title {
  margin: 0 3px;
}

.order-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  color: #a2a2a2;
  padding: 40px 0;
}

.order-empty .order-now {
  height: 45px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid #33d3ca;
  color: #33d3ca;
  font-size: 15px;
  font-weight: 500;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.order-empty .order-now:hover, .order-empty .order-now:focus {
  color: #fff;
  background-color: #33d3ca;
}
/*# sourceMappingURL=main.css.map */